
/* TODO em factor should be taken into account in all em-based calculations */

/* vars */
:root {
    /* typography */
    --primary-font-family: "Georgia";
    --secondary-font-family: "Verdana";
    --primary-font-color: #333;
    --secondary-font-color: #000;
    --meta-font-size: 0.75em;

    /* color palette */
    --primary-color: #007997;
    --secondary-color: #97002b;

    /* partially typography based layout */
    --common-padding: 10px;
    --min-width: 360px;
    --em-factor: 1;
    --est-char-width: calc((var(--em-factor) * 16px) / 2); /* const 2 stands for approximate character width */
    --optimal-line-width: calc(var(--est-char-width) * 70); /* roughtly estimating width on optimal number of characters per line */
}
    /* fixing width calculation for high dpr device */
   
    /* possible TODO: invent mechanims to feed var into media query without looping*/
    @media only screen and (min-resolution:1.5dppx) {
        :root {--em-factor:1.5}
    }

    @media only screen and (min-resolution:2dppx) {
        :root {--em-factor:2}
    }

    @media only screen and (min-resolution: 3dppx) {
        :root {--em-factor:3}
    }


/* styles */

body {
    font-family: var(--primary-font-family);
    color: var(--primary-font-color);
    margin: 0;
    padding: 0;
}

a {
    font-family: var( --secondary-font-family);
}

.container {
    box-sizing: border-box;
    padding: var(--common-padding);
    min-width: var(--min-width);
    max-width: var(--optimal-line-width);
    margin: 0 auto;
}

/* flex tools */

/* 
This will make sure, that flex element won't push over less rich elements 
Limiting flex element to half mean 50% basis. So e.g. for three elements one would need basis on 33,333%
*/
.flex--half {
    flex-basis: 50%;
}


/* common class transforming list links into link row*/

.list {
    /*root block*/
}

    .list--vertical {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .list--vertical > li {
            display: inline-block;
            padding-right: 10px;
        }

        .list--right-aligned > li {
            padding-right: 0;
            padding-left: 10px;
        }


header {
    border-bottom: 4px solid var(--primary-color);
    margin-bottom: 1em;
}

    .header-links {
        padding: var(--common-padding);
        display: flex;
        justify-content: space-between;
    }

        .header-links__home {
            color: var(--primary-color);
            text-decoration: none;
            font-weight: bold;
        }

        .header-links__home:hover {
            text-decoration: underline;
        }


footer {
    text-align: center;
    color: var(--primary-color);
    padding: 1em 0;
    font-size: var(--meta-font-size);
}

.h1 {
    color: var(--secondary-font-color);
    font-size: 2.25em;   
    margin-bottom: 0.1em;
}

.h2 {
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: 0.5em;

}

    .h2 + p {
        margin-top: 0;
    }

.meta {
    font-size: var(--meta-font-size);
    font-family: var(--secondary-font-family);
    margin-top: 0;
    margin-bottom: 3em;
    color: #888;
}

.taglist {
    font-size: var(--meta-font-size);
}
    .taglist > li {
        background-color: var(--primary-color);
        padding: 5px;
        text-align: center;
    }

    .taglist > li > a {
        color: #fff;
        text-decoration: none;
    }

    .taglist > li > a:hover {
        text-decoration: underline;
    }






