<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <link href="../css/styles.css" rel="stylesheet">
        <title>My blog</title>
    </head>

    <body>
        <header>
            <div class="container header-links">
                <a class="header-links__home flex--half" href="#"><h1>My blog</h1></a>

                <ul class="list--vertical list--right-aligned toolbar">
                    <li><a href="#">Sign in</a></li>
                </ul>
            </div>
        </header>

        <main class="container">

            <article>
                <h2 class="h2"> Blog article title #1</h2>
            </article>

            <article>
                <h2 class="h2"> Blog article title #1</h2>
            </article>

            <article>
                <h2 class="h2"> Blog article title #1</h2>
            </article>

        </main>

        <footer>
            <p>Copyright message</p>
        </footer>

    </body>
</html>