<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <link href="../css/styles.css" rel="stylesheet">
        <title>My blog</title>
    </head>

    <body>
        <header>
            <div class="container header-links">
                <a class="header-links__home flex--half" href="#"><h1>My blog</h1></a>

                <ul class="list--vertical list--right-aligned toolbar">
                    <li><a href="#">Sign in</a></li>
                </ul>
            </div>
        </header>

        <main class="container">

            <article>
                <img class="img--round" src="../i/image.jpg" alt="article related imagery" />

                <h2 class="h1"> Blog article title #1</h1>

                <p class="meta">by Name Surname on 19.1.2017</p>

                <h3 class="h2">Deflector power at maximum</h3>

                <p>
                    Deflector power at maximum. Energy discharge in six seconds. Warp reactor core primary coolant failure. Fluctuate phaser resonance frequencies. Resistance is futile. Recommend we adjust shield harmonics to the upper EM band when proceeding. These appear to be some kind of power-wave-guide conduits which allow them to work collectively as they perform ship functions. Increase deflector modulation to upper frequency band.
                </p>

                <ul class="list--vertical taglist">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">template</a></li>
                </ul>
            </article>

            <article>
                <h2 class="h2"> Blog article title #1</h2>
            </article>

            <article>
                <h2 class="h2"> Blog article title #1</h2>
            </article>

        </main>

        <footer>
            <p>Copyright message</p>
        </footer>

    </body>
</html>