<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/styles.css" rel="stylesheet">
        <title>My blog</title>
    </head>

    <body>
        <header>
            <div class="container header-links flex">
                <a class="header-links__home flex__cell flex__cell--just-enough" href="#"><h1>My blog</h1></a>

                <ul class="list list--horizontal list--right-aligned toolbar">
                    <li><a href="#" class="btn btn--primary">Add</a></li>
                    <li><a href="#" class="btn">Sign out</a></li>
                </ul>
            </div>
        </header>

        <main class="container">

            <article class="flex article-item compact">
                <div class="flex__cell flex__cell--just-enough">
                    <img class="img img--round img--home" src="../i/image.jpg" alt="article related imagery" />
                </div>

                <div class="flex__cell flex__cell--gap-left">

                <h2 class="h1"><a href="#">Blog article title #1</a></h1>

                <p class="meta">by Name Surname on 19.1.2017</p>

                <h3 class="h2">Deflector power at maximum</h3>

                <p>
                    Deflector power at maximum. Energy discharge in six seconds. Warp reactor core primary coolant failure. Fluctuate phaser resonance frequencies. Resistance is futile. Recommend we adjust shield harmonics to the upper EM band when proceeding. 
                </p>

                <ul class="list list--horizontal taglist">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">template</a></li>
                </ul>

                </div>

            </article>

            
            
            <article class="flex article-item compact">
                <div class="flex__cell flex__cell--just-enough">
                    <img class="img img--round img--home" src="../i/image.jpg" alt="article related imagery" />
                </div>

                <div class="flex__cell flex__cell--gap-left">

                <h2 class="h1"><a href="#">Blog article title #1</a></h1>

                <p class="meta">by Name Surname on 19.1.2017</p>

                <h3 class="h2">Deflector power at maximum</h3>

                <p>
                    Deflector power at maximum. Energy discharge in six seconds. Warp reactor core primary coolant failure. Fluctuate phaser resonance frequencies. Resistance is futile. Recommend we adjust shield harmonics to the upper EM band when proceeding. 
                </p>

                <ul class="list list--horizontal taglist">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">template</a></li>
                </ul>

                </div>

            </article>


            <article class="flex article-item compact">
                <div class="flex__cell flex__cell--just-enough">
                    <img class="img img--round img--home" src="../i/image.jpg" alt="article related imagery" />
                </div>

                <div class="flex__cell flex__cell--gap-left">

                <h2 class="h1"><a href="#">Blog article title #1</a></h1>

                <p class="meta">by Name Surname on 19.1.2017</p>

                <h3 class="h2">Deflector power at maximum</h3>

                <p>
                    Deflector power at maximum. Energy discharge in six seconds. Warp reactor core primary coolant failure. Fluctuate phaser resonance frequencies. Resistance is futile. Recommend we adjust shield harmonics to the upper EM band when proceeding. 
                </p>

                <ul class="list list--horizontal taglist">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">template</a></li>
                </ul>

                </div>

            </article>


            <ul class="list--horizontal pager">
                <!--<li>
                <a href="#">previous</a>
                </li>-->
                <li>
                <a href="#">1</a>
                </li>
                <li>
                <a href="#">2</a>
                </li>
                <li>
                <a href="#">3</a>
                </li>
                <li>
                <a href="#">next</a>
                </li>
                <li>
                <a href="#">last</a>
                </li>
            </ul>

        </main>

        <footer class="container">
            <p>Copyright message</p>
        </footer>

    </body>
</html>